<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Manideep Shankar</title>
<link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
    <div class="container">
        <div class="my-details">
        <h1>Vanapalli Manideep Shankar</h1>
        <p>Software Developer </p>
        <p>TechEnthusiast | Problem Solver | Code Builder</p>
        <p>
            <a href="https://www.linkedin.com/in/manideep-shankar" target="_blank">LinkedIn</a>
            <a href="https://www.github.com/mvanap.com" target="_blank">GitHub</a> 
        </p>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="#about-me">About </a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
    </header>
    <main>
        <section id="about-me">
            <h2>About</h2>
            <div class="about">
                <article class="about">
                <h3>Summary</h3>
                <p>Hello!!! I'm Manideep, A  Python Developer 2+ years specializing in backend automation, LLM integration and ETL orchestration. 
                Experienced in building REST APIs (Flask/FastAPI), production automation with Control-M, and integrating LLMs (OpenAI, LangChain) 
                for document summarization and chatbots. Proven record of reducing manual effort 45% reduction in processing time 
                and delivering production CI/CD pipelines.
                </p>
                </article>
                <h3>Education</h3>
                    <article class="about">
                    <p>Bachelor of Computer Science - Andhra University, Visakhapatnam (2020-2023)</p>
                    </article>
                <h3>Technical Skills</h3>
                    <article class="about">
                    <p><strong>Languages & Frameworks:</strong> — Python, Flask, FastAPI, Pandas, Numpy, OOP</p>
                    <p><strong>Backend & Cloud:</strong> — REST APIs, Microservices, Docker, Linux, Azure</p>
                    <p><strong>AI & LLMS:</strong> — Prompt Engineering, LLM Integration (OpenAl, LangChain), Chatbot Development.</p>
                    <p><strong>Databases:</strong> — MySQL, PostgreSQL, MySQL Server, Oracle SQL</p>
                    <p><strong>Tools & Platforms:</strong> — Service Now, Jira, Confluence, Control-M, VS Code, Postman, Git, Github</p>
                    <p><strong>Other:</strong> — API Development, Data Validation, ETL Pipelines</p>
                    </article>
                <h3>Work Experience</h3>
                    <article class="about">
                    <h4>Hexaware Technoligies, Software Developer</h4>
                    <p>Automated ETL jobs and backend services using Python + Control-M, reducing manual processing time by 45% and saving ~12 developer-hours/week. 
                       Integrated LLM-based summarization pipeline (OpenAI + LangChain) to auto-generate executive reports, reducing effort by 80% for weekly.
                       Built REST APIs with Flask/FastAPI and deployed using CI/CD pipelines, achieving 99.5% job success rate across scheduled runs.
                       Owned end-to-end automation workflow for monthly reporting using Python + Control-M; cut manual processing time by 45%, enabling on-time delivery for 100% of SLAs.</p>
                    <h4>Achievements</h4>
                    <p>Delivered Python automation solutions saving 50+ hours/month   and improving process efficiency by 30%.
                        Built a GenAI-powered search & reporting utility reducing   document analysis time by 60%.
                        Recognized consistently by client teams for timely delivery, quality outputs, and proactive issue resolution.
                        Reduced manual effort by 70%, efficiency by 30% and Improved accuracy to 95%.</p>
                    </article>
            </div>
        </section>
        <section id="projects">
            <h2>Projects</h2>
            <div class="project-list">
                <article class="project">
                <h3> Financial Assistant - AI Powered Loan Processing</h3>
                <p>Developed an AI-powered chatbot to analyze document, verify the CIBIL scores via API, and provide loan recommendations. Cut loan processing
                   time from 2 - 3 days to under 4 hours, improved accuracy to 95% and reduced employee workload by 40%.. The system analyzes user financial data 
                   to determine loan eligibility, providing personalized recommendations and improving decision-making efficiency for financial institutions.
                </p>
                <p><strong>Technologies Used:</strong> Prompt Engineering, LLM Integration (OpenAl, LangChain), Chatbot Development, Langchain, FAISS,  API, 
                    REST API, Azure OpenAI, Python, HTML/CSS</p>
                </article>
                <article class="project">
                <h3>Document Summarization Tool</h3>
                <p>Created a document summarization tool that leverages LangChain and OpenAI's GPT-3.5 to generate concise summaries of lengthy documents. 
                   The tool integrates with a web interface built using Flask, allowing users to upload documents and receive summaries in real-time.
                </p>
                <p><strong>Technologies Used:</strong> Flask, RAG, Langchain, OpenAI, Python, HTML/CSS</p>
                </article>
                <article class="project">
                <h3>Vendor Data Integrity Automator (VDIA)</h3>
                <p>Automated CSV ingetion, validation, duplicate detection, and load-date tracking for vendor files. The automation significantly improved data 
                   processing efficiency, reducing manual verification efforts by 70% and virtually eliminating errors related to duplicates and empty files. 
                   Teams now save 5-6 hours daily per vendor, allowing them to focus on higher-value tasks like analysis and strategy. Processing times for large 
                   file sets dropped from days to hours, enabling real-time data availability and faster vendor feedback loops. Accuracy improved to near 100%, 
                   enhancing trust in the data and reducing rework.
                </p>
                <p><strong>Technologies Used:</strong> Python, FastAPI, SQL, Control-m, Outlook API, SQL Server, Pandas</p>
                </article>
            </div>
        </section> 
        <section id="contact">
            <h2>Contact Me</h2>
            <p><strong>Email: </strong> manideepvanapalli852@gmail.com</p>
            <p><strong>Mobile: </strong> +91-8523047421</p>
            <p><strong>Location: </strong> India</p>
        </section>
 
<footer>
        © 2025 Manideep Shankar — All Rights Reserved
</footer>
 
</body>
</html>
